* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --theme-color: #f0b41c;
    font-size:  1rem;
}

h1 {
    color: var(--theme-color);
}

ul {
    list-style-type: none;
    line-height: 2.2rem;
}

ul {
    font-weight: 500;
}

.side-menu p {
    font-weight: 500;
    color: gray;
}

ul.workspaces-list {
    color: var(--theme-color);
    list-style-type: disc;
    list-style-position: inside;
}

li {
    padding: 0 0.6rem;
}
.workspaces-list li:hover, .workspaces-list li.active {
    transition: .2s;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: rgba(207, 207, 207, 0.458);
}

.workspaces-list li:hover span, .workspaces-list li.active span {
    transition: 0.2s;
    color: var(--theme-color);
}

.tabs li:hover, .tabs li.active {
    transition: .2s;
    cursor: pointer;
    border-radius: 0.5rem;
    color: var(--theme-color);
    background-color: rgba(207, 207, 207, 0.458);
}

.workspace-create {
    gap: 2.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
}

.create-workspace-btn {
    display: flex;
    align-items: center;
    background-color: var(--theme-color);
    border: none;
    border-radius: 1rem;
    padding: 0.1rem;
    font-size: 1rem;
    transition: transform 0.1s ease-out;
}

button.create-workspace-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

ul span {
    color: black;
}

body {
    background-color: rgb(239, 239, 239);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    padding: 2rem 3rem;
    width: 90vw;
    max-width: 1400px;
    height: 90vh;
    max-height: 900px;
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    box-shadow: 5px 5px 30px 5px #0000007c;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.side-menu {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-right: 1px solid var(--theme-color);
    padding-right: 1.5rem;
}

.content-container {
    height: 100%;
    overflow: hidden;
}

.content-header {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--theme-color);
}

.content {
    height: 94%;
    overflow: auto;
    padding: 1rem 0.3rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.task {
}

.task-info {
    border: 1px solid var(--theme-color);
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    background-color: rgb(255, 251, 243);
    border-radius: 0.6rem;
    box-shadow: 3px 3px 5px 0px #0000002c;
}

.task-details {
    padding: 0rem 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top: -0.8rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 1px solid var(--theme-color);
    border-top: none;
    border-bottom-right-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    box-shadow: 3px 5px 5px 0px #0000002c;

    
    display: none;
}

.visible {
    display: grid;
    animation: expand 300ms ease-out;
    transform-origin: top;
}

.rotated {
    height: 25px;
    transition: transform 0.15s ease-in;
    transform: rotate(180deg);
}

.rotated:hover {
    transform: scale(1.6) rotate(180deg);
    cursor: pointer;
}
  
@keyframes expand {
0% {
    transform: scaleY(0);
    opacity: 0;
}

100% {
    transform: scaleY(1);
    opacity: 0.4;
}
}

.task-info p {
    text-align: center;
    flex: 1;
}

.down-icon {
    height: 25px;
    transition: transform 0.15s ease-in;
}

.down-icon:hover {
    transform: scale(1.6);
    cursor: pointer;
}

.task input[type="checkbox"] {
    cursor: pointer;
    color: currentColor;
    height: 1rem;
    width: 1rem;
    border-radius: 0.15em;

    appearance: none;
    border: 1px solid var(--theme-color);
    background-color: white;
}

.task input[type="checkbox"]:checked {
    background-color: var(--theme-color);
}
.completed {
    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(231, 231, 231);
}

.completed p {
    text-decoration: line-through;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    z-index: -1;

    transition: 0.3s ease-in;
}

.modal.show {
    z-index: 2;
    opacity: 1;
}

.modal-container {
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 3fr;
    position: absolute;
    min-height: 40vh;
    min-width: 40vw;
    border-radius: 1.5rem;
    background-color: white;
    flex-direction: column;
    box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.2);
    opacity: 0;
    top: 0;
    transition: 0.3s ease-out;
    z-index: -1;
}

.modal-container > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--theme-color);
}

.modal-container > div:last-of-type {
    display: flex;
    justify-content: end;
    align-items: center;
}

.modal-container.show {
    z-index: 2;
    opacity: 100%;
    transform: translateY(50%);
}

.modal-container.task-modal.show {
    transform: translateY(20%);
}

.modal .close-btn {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    height: 40px;
    transition: 0.1s;
}

.modal .close-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.create-btn {
    font-size: 1.2rem;
    padding: 0.3rem 2rem;
    background-color: var(--theme-color);
    color: white;
    border: none;
    border-radius: 0.6rem;
    transition: 0.2s ease-in;
}

.create-btn:hover {
    cursor: pointer;
    background-color: #c69825;
}

.input-container {
    padding: 1rem;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom: 1rem;
}

.input-container input[type="text"] {
    border: 1px solid var(--theme-color);
    border-radius: 0.4rem;
    padding: 0.4rem;
    font-size: 1rem;
    outline: none;
    transition: 0.2s;
}

.input-container input[type="text"]:focus {
    box-shadow: 0px 0px 4px 0px var(--theme-color);
}

.input-container input[type="datetime-local"] {
    border: 1px solid var(--theme-color);
    border-radius: 0.4rem;
    padding: 0.4rem;
    font-size: 1rem;
    outline: none;
    transition: 0.2s;
}

.input-container input[type="datetime-local"]:focus {
    box-shadow: 0px 0px 4px 0px var(--theme-color);
}

.input-container select {
    border: 1px solid var(--theme-color);
    border-radius: 0.4rem;
    padding: 0.4rem;
    font-size: 1rem;
    outline: none;
    transition: 0.2s;
}

.input-container select:focus {
    box-shadow: 0px 0px 4px 0px var(--theme-color);
}

.input-container label {
    color: rgb(109, 109, 109);
    font-weight: 500;
}

::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--theme-color);
    border-radius: 10px;
  }