* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --theme-color: #f0b41c;
    font-size:  1rem;
}

h1 {
    color: var(--theme-color);
}

ul {
    list-style-type: none;
    line-height: 2.2rem;
}

ul {
    font-weight: 500;
}

.side-menu p {
    font-weight: 500;
    color: gray;
}

ul.workspaces-list {
    color: var(--theme-color);
    list-style-type: disc;
    list-style-position: inside;
}

.workspace-create {
    gap: 2.5rem;
    display: flex;
    align-items: center;
}

.create-workspace-btn {
    display: flex;
    align-items: center;
    background-color: var(--theme-color);
    border: none;
    border-radius: 1rem;
    padding: 0.1rem;
    font-size: 1rem;
    transition: transform 0.1s ease-out;
}

button.create-workspace-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

ul span {
    color: black;
}

body {
    background-color: rgb(239, 239, 239);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    padding: 2rem 3rem;
    width: 85vw;
    max-width: 1200px;
    min-height: 85vh;
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    box-shadow: 5px 5px 30px 5px #0000007c;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.side-menu {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-right: 3px solid var(--theme-color);
    padding-right: 1.5rem;
}

.content {
}